<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>Timetracker Home</title>
</head>

<body ng-app="timetrackerApp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-3">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <span class="hamburger-menu">
                            <i class="fa fa-big fa-bars color-eaeaea"></i>
                        </span>
                        <a href="index.html">
                            <img src="assets/img/logo.png" alt="Logo" width="85px" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 text-right user-name hidden-xs" ng-controller="menuCtrl">
                <a ng-click="logOut()">Logout<img class="avatar-icon" src="assets/img/profile.jpg" alt=""></a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="main-menu" id="main-menu">
            <div class="thin-border-bottom" ng-controller="menuCtrl">
                <h4>Welcome, {{ loggedInUser }}</h4>
                <h6><i class="fa fa-clock-o"></i>Last log-in {{ lastLoginTime }}</h6>
            </div>
            <ul>
                <li><a href="#">Self</a></li>
                <ul class="sub-menu">
                    <li class="active">
                        <a ui-sref="home">
                        <i class="fa fa-tachometer"></i>Timesheet Entry
                        </a>
                    </li>
                </ul>
                <li><a href="#">Manager</a></li>
                <ul class="sub-menu">
                    <li>
                        <a ui-sref="reports">
                        <i class="fa fa-bar-chart"></i>Timesheet Report
                        </a>
                    </li>
                    <li ng-controller="menuCtrl">
                        <a ng-click="eraseAllData()">
                        <i class="fa fa-cog"></i>Erase All Data
                        </a>
                    </li>
                </ul>
                <li class="mobile-signout" ng-controller="menuCtrl">
                    <a ng-click="logOut()">
                    <i class="fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="body-wrapper" ui-view>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="assets/js/papaparse.min.js"></script>
    <script src="app/app.js"></script>
    <script>
        $(document).ready(function () {
            // var loggedInUser = getLoggedInUser();
            // $("#logInUserWelcome").text('Welcome, ' + loggedInUser.EmpName);

            $(".hamburger-menu").click(function (evt) {
                $(".main-menu").addClass('menu-visible');
                evt.stopPropagation();
            });

            $(window).click(function () {
                $(".main-menu").removeClass('menu-visible');
            });

            $(".main-menu").click(function (evt) {
                evt.stopPropagation();
            });

            // Call get last login duration every 1 min
            // setInterval(function () {
            //     var lastLoginDuration = getLastLoginDuration();
            //     $("#last-login-duration").text(lastLoginDuration);
            // }, 10000);
        });
    </script>
</body>

</html>