<h3 class="center-text">
    <i class="fa fa-big fa-clock-o"></i>Time Tracker</h3>
<h4>View Timesheet report</h4>
<div class="alert alert-success" ng-show="reportsSuccessMsg">{{ reportsSuccessMsg }}</div>
<div class="alert alert-danger" ng-show="reportsErrorMsg">{{ reportsErrorMsg }}</div>
<form>
    <div class="row main-form">
        <div class="col-sm-3 col-xs-12">
            <input type="text" class="form-control" ng-model="searchEmpID" ng-keyup="showFetchButton()" placeholder="Employee ID">
        </div>
        <div class="col-sm-4 col-xs-12">
            <button class="btn btn-success" id="showReport" ng-click="FetchTimesheet()" ng-disabled="isFetchButtonEnabled">Fetch</button>
            <button class="btn btn-primary" ng-click="showAll()">Show All</button>
        </div>
    </div>
</form>
<div id="reportTable" ng-show="showEmpData">
    <div class="generate-csv"><button class="btn btn-xs btn-danger" ng-click="downloadCSV()">Download CSV</button></div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Date</th>
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in EmployeeTimesheetData">
                    <td>{{ record.EmpID }}</td>
                    <td>{{ record.EmpName }}</td>
                    <td>{{ record.Date }}</td>
                    <td>{{ record.InTime }}</td>
                    <td>{{ record.OutTime }}</td>
                    <td>{{ record.Hours }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>