<h3 class="center-text">
    <i class="fa fa-big fa-clock-o"></i>Time Tracker</h3>
<h4>View Timesheet report</h4>
<div class="alert alert-success" id="reportsSuccessMsg"></div>
<div class="alert alert-danger" id="reportsErrorMsg"></div>
<form>
    <div class="row main-form">
        <div class="col-sm-3 col-xs-12">
            <input type="text" class="form-control" id="searchEmpID" placeholder="Employee ID">
        </div>
        <div class="col-sm-4 col-xs-12">
            <button class="btn btn-success" id="showReport" type="submit" disabled>Fetch</button>
            <button class="btn btn-primary" id="showReportAll">Show All</button>
        </div>
    </div>
</form>
<div id="reportTable">

</div>
</div>